/* repos */
div#opensource-repos ul.repos,
div#opensource-repos ul.repo_properties {
  margin: 0;
  padding: 0 0 5px 0;
  list-style-type: none;
}
div#opensource-repos ul.repo_properties {
  padding: 0 0 5px 35px;
  font-size: 80%;
}
div#opensource-repos ul.repo_properties li:after {
  content: ", ";
}
div#opensource-repos ul.repo_properties li:last-child:after {
  content: "";
}
div#opensource-repos ul.repos li.repo {
  padding: 0 0 5px 0;
}
div#opensource-repos ul.repo_properties li.repository,
div#opensource-repos ul.repo_properties li.wiki,
div#opensource-repos ul.repo_properties li.tracker,
div#opensource-repos ul.repo_properties li.documentation,
div#opensource-repos ul.repo_properties li.download {
  display: inline;
  padding: 0 5px 0 0;
}
div#opensource-repos ul.repos li.repo span.repo_name {
  font-weight: bold;
}
